<div class="flex flex-col items-center justify-center gap-2 pt-12 select-none">
    <div class="flex gap-2">
        <lucide-icon name="unlink" size="32"/>
        <p class="text-2xl font-bold">Houston? We have a problem...</p>
    </div>
    <p class="italic">Il parait que vous vous êtes perdu(e), revenez à la terre ferme en cliquant sur le bouton ci-dessous.</p>
    <a class="px-2 py-1 text-white transition-colors bg-black border rounded-lg shadow-md cursor-pointer hover:bg-zinc-800" routerLink="/">Revenir au site</a>
</div>