<div class="flex items-start justify-between mb-4">
    <div class="flex items-center gap-2">
        <lucide-icon name="arrow-left" size="32" class="cursor-pointer align-sub" routerLink="/stocks"/>
        <p class="text-2xl font-bold">Pellicule {{ stock?.name }}</p>
    </div>
    <img
        *ngIf="stock"
        src="../../../assets/stocks/{{stock.id}}.jpg"
        class="rounded-lg shadow-md max-h-32"
        [alt]="stock.name"
    >
</div>

<p *ngIf="albums?.length == 0" class="italic">Aucune série n'utilise cette pellicule actuellement.</p>
<p *ngIf="albums && albums.length > 0">{{ albums.length }} Série(s) utilisant cette pellicule.</p>

<div class="items-center justify-center gap-4 mt-4 columns-1 md:columns-2 lg:columns-3 2xl:columns-4">
    @for (album of albums; track $index) {
        @for (uri of AlbumsService.getPhotosURIs(album, true); track $index) {
            <div class="relative mx-4 mb-4">
                <img
                    class="rounded-lg shadow-md"
                    [src]="uri"
                    alt="{{album.id}}-{{$index}}"
                />
                <div class="absolute bottom-0 left-0 flex justify-between w-full px-2 py-1 font-mono text-xs text-white bg-black rounded-b-lg">
                    <p>{{ album.id }}-{{ $index }}</p>
                    <app-download-button [albumID]="album.id" [index]="$index"/>
                </div>
            </div>
        }
    }
</div>