<p class="mb-2 text-2xl font-bold">Toutes les photos (vrac)</p>
<i class="pb-4 italic">Utilisez les boutons "Pellicules" & "Séries" dans la barre de navigation pour affiner votre recherche.</i>

<div class="grid grid-cols-4 gap-4 mt-4">
    @for (album of albums; track $index) {
        @for (img of AlbumsService.getPhotosURIs(album); track $index) {
            <div class="flex flex-col items-center justify-center gap-2">
                <img class="rounded shadow max-h-96" [src]="img" alt="Série {{ album.id }} ({{ $index }})">
                <p class="text-sm italic">Série {{ album.id }} ({{ $index }})</p>
            </div>
        }
    }
</div>
