<!-- Navbar -->
<div class="fixed top-0 z-20 flex items-center w-full px-4 py-2 bg-white shadow-md select-none">
    <div class="flex items-center gap-2 text-xl cursor-pointer" routerLink="/">
      <h1 class="font-bold">Erwan EGASSE</h1>
      <h2 class="pl-2 pr-4 border-l">Photographie</h2>
    </div>
    <a routerLink="/stocks" class="px-2 py-1 transition-colors rounded cursor-pointer hover:bg-gray-300">Pellicules</a>
    <a routerLink="/albums" class="px-2 py-1 transition-colors rounded cursor-pointer hover:bg-gray-300">Séries</a>
</div>
<div class="px-8 pb-8 mt-16">
    <router-outlet></router-outlet>
</div>
